.adjustIcon {
    color: rgb(128, 129, 129);
}
.inputContainer {
    background-color: rgb(110 110 110);
    border-radius: 3px;
    padding-left: 3px;
    font-size: 14px;
}

.iconContainer {
    display: flex;
    gap: 8px;
    align-items: center;

    .editIcon {
        height: 16px;
        width: 16px;
        color: rgb(187, 186, 185);
        &:hover {
            color: rgb(255, 255, 255);
        }
    }
    .validIcon {
        height: 19px;
        width: 19px;
        color: rgb(187, 186, 185);
        &:hover {
            color: rgb(255, 255, 255);
        }
    }
    .deleteIcon {
        height: 20px;
        width: 20px;
        color: rgb(165, 27, 27);
        &:hover {
            color: rgb(230, 7, 7);
        }
    }
}
