.categoryContainer {
    width: 100%;
    padding: 4px 0 4px 0 !important;
    color: rgb(182, 181, 181);
    .categoriesIcon {
        color: rgb(187, 186, 185);
        width: 21px;
        height: 21px;
    }
    .inputContainer {
        background-color: rgb(110 110 110);
        border-radius: 3px;
        padding-left: 3px;
        font-size: 14px;
    }
    .iconContainer {
        display: flex;
        gap: 10px;
        align-items: center;

        .editIcon {
            height: 15px;
            width: 15px;
            color: rgb(187, 186, 185);
            &:hover {
                color: rgb(255, 255, 255);
            }
        }
        .deleteIcon {
            height: 18px;
            width: 18px;
            color: rgb(165, 27, 27);
            &:hover {
                color: rgb(230, 7, 7);
            }
        }
    }

    .addIconButton {
        color: rgb(187, 186, 185);
    }
}
