.sessionContainer {
    width: 100%;
    padding: unset;
    color: rgb(182, 181, 181);
    .categoriesIcon {
        color: rgb(187, 186, 185);
    }
    .addIconButton {
        color: rgb(187, 186, 185);
    }
}