$lightGreen: #a7ecee;
$mediumGreen: #0d6547db;
$darkGreen: #072c24;

$primaryLightBlue: hsl(210, 100%, 65%);
$primaryMediumBlue: hsl(210, 58%, 32%);
$primaryDarkBlue: hsl(210, 56%, 20%);
$primaryGrey: hsl(220, 20%, 65%);

$primaryBackgroundColor: rgba(51, 51, 52, 0.42);
$primaryBackgroundImage: radial-gradient(at 50% 50%, rgba(0, 41, 82, 0.5), rgb(9, 11, 17));
$primaryError: rgb(205, 11, 11);
