$greenGradient: linear-gradient(180deg, rgb(5, 138, 124) 0%, rgba(6, 95, 141, 1) 65%, rgba(3, 83, 99, 1) 90%);
$lightGreen: #a7ecee;
$mediumGreen: #0d6547db;
$darkGreen: #072c24;
$mixedGreenGrey: #76aaa4;
$buttonDarkGreen: rgb(11, 114, 84);
$hoverButtonDarkGreen: rgb(14, 124, 93);

$primaryLightBlue: hsl(210, 100%, 65%);
$primaryMediumBlue: hsl(210, 58%, 32%);
$primaryDarkBlue: hsl(210, 56%, 20%);
$primaryGrey: hsl(220, 20%, 65%);
