@use "./colors" as colors;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1d2428;
    overflow: hidden;
    z-index: -1;
    font-family: "Roboto", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#__next {
    height: 100%;
}

*::selection {
    background: colors.$primaryMediumBlue;
    color: #ffffff;
}
