.rootSideBarOpen {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
    border-right: 2px solid rgb(38 48 45);
    background-color: rgb(51 51 52 / 42%);
    transition: width 0.3s ease-in-out;
    &.rootSideBarClosed {
        width: 60px;
    }

    .header {
        padding: 10px 0px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        span {
            white-space: nowrap;
            color: rgb(187, 186, 185);
        }
        .wrapIcon {
            cursor: pointer;
            height: 24px;
            width: 24px;
            color: rgb(187, 186, 185);
            margin-right: 10px;
            &:hover {
                color: rgb(255, 255, 255);
            }
            &.wrapIconClosed {
                margin-right: unset;
            }
        }
        &.headerClosed {
            flex-direction: column;
            padding-right: 10px;
            gap: 20px;
        }
    }
    .body {
        flex-grow: 1;
        overflow-y: auto;
        .homeContainer {
            color: rgb(182, 181, 181);
            .homeIcon {
                color: rgb(187, 186, 185);
            }
        }
        .sessionContainer {
            width: 100%;
            padding: unset;
            color: rgb(182, 181, 181);
            .categoriesIcon {
                color: rgb(187, 186, 185);
            }
            .addIconButton {
                color: rgb(187, 186, 185);
            }
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        padding: 20px;
        .settingsButton {
            width: 100%;
            color: rgb(187, 186, 185);
            border-color: rgb(187, 186, 185);
            &:hover {
                background-color: rgba(108, 108, 108, 0.29);
            }
        }
        .wrappedSettingsButton {
            border: unset;
            height: 50px;
            span {
                margin: unset;
            }
        }
    }
}
