@use "../styles/colors" as colors;

.root {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(at 50% 50%, rgba(0, 41, 82, 0.5), rgb(9, 11, 17));
    display: flex;
    flex-direction: row-reverse;

    .mainContainer {
        display: flex;
        flex-direction: column;
        width: calc(100% - 260px);
        height: 100%;
        overflow-y: auto;
        background-color: rgb(51 51 52 / 42%);
        transition: width 0.3s ease-in-out;
        &.extendedMainContainer {
            width: calc(100% - 80px);
            transition: width 0.3s ease-in-out;
        }

        .titleContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            @media (max-width: 530px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
            .title {
                font-size: 1.475rem;
                color: rgb(187, 186, 185);
            }
            .addButton {
                margin-right: 10px;
                margin-top: 5px;

                width: 150px;
                border-radius: 25px;
                background-color: hsl(210, 58%, 32%);
            }
        }
        .titleContainerResponsive {
            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }
}
