@use "../../styles/colors" as colors;

.rootContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-out forwards;

    .card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 300px;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        background: rgb(18 37 50);
        animation: fadeIn 0.3s ease-out forwards;

        .cardBody {
            display: flex;
            flex-direction: column;
            span {
                margin-top: 10px;
                margin-bottom: 3px;
                margin-left: 3px;
                color: rgb(187, 186, 185);
            }
            .inputs {
                border: 2px solid rgb(3, 74, 104);
                border-radius: 30px;
                padding-left: 10px;
                font-size: 15px;
                color: rgb(187, 186, 185);
                &::after,
                &::before {
                    border-bottom: unset !important;
                }
            }
        }
        .actions {
            display: flex;
            justify-content: space-between;
            gap: 15px;
            width: 100%;
            Button {
                border-radius: 50px;
                &:last-child {
                    background-color: hsl(210, 58%, 32%);
                    &:hover {
                        background-color: hsl(210, 57%, 39%);
                    }
                }
            }
            @media (max-width: 470px) {
                flex-direction: column-reverse;
            }
        }
    }
}

// entry animation
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rootContainer.exit {
    animation: fadeOut 0.3s ease-out forwards;
}

// exit animation
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
