@import "../styles/colors";

.root {
    background-image: radial-gradient(ellipse 80% 50% at 50% -2%, hsl(207, 100%, 19%), transparent);
    background-color: hsl(220, 35%, 3%);
    width: 100vw;
    height: 100vh;
    position: relative;
    .mainContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .textContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
                font-size: xxx-large;
                color: white;
                font-weight: bold;
                margin-bottom: unset;
                text-align: center;
            }
            .subTitle {
                color: hsl(220, 20%, 65%);
                font-weight: bold;
                text-align: center;
            }
            .startContainer {
                display: flex;
                align-items: center;
                gap: 15px;
                .inputContainer {
                    min-width: 260px;
                    border: 1px solid hsla(220, 20%, 25%, 0.6);
                    border-radius: 8px;
                    background-color: hsl(220, 35%, 3%);
                    padding-left: 10px;
                    height: 2.25rem;
                    transition: border 120ms ease-in;
                    &::before,
                    &::after {
                        border-bottom: unset;
                    }
                    &:focus-within {
                        outline: 3px solid hsla(210, 98%, 42%, 0.5);
                        border-color: hsla(210, 98%, 42%, 0.7);
                    }
                    &:hover {
                        border-color: hsla(210, 99%, 29%, 0.7);
                    }
                    input {
                        color: white;
                    }
                    input::placeholder {
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
                .startButtonContainer {
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    padding-right: 5px;
                    background-color: white;
                    color: black;
                    height: 37px;
                    &:hover {
                        background-color: hsla(210, 98%, 42%, 0.5);
                        color: white;
                    }
                    .arrowIcon {
                        margin-left: 2px;
                    }
                }
            }
        }
    }
}
