.root {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
    //background-color: #0d6547db;
    border-right: 2px solid rgb(38 48 45);
    background-color: rgb(29 69 70);
    background-color: rgb(51 54 54);
    //background: linear-gradient(145deg, rgba(6, 29, 32, 0.7), rgba(6, 29, 32, 0.9));
    header {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        .userContactContainer {
            display: flex;
            flex-direction: column;
            span {
                color: rgb(187, 186, 185);
            }
        }
    }
    .body {
        flex-grow: 1;
        overflow-y: auto;
        .homeContainer {
            color: rgb(182, 181, 181);
            .homeIcon {
                color: rgb(187, 186, 185);
            }
        }
        .sessionContainer {
            width: 100%;
            background-color: #1d4546;
            background-color: rgb(51 54 54);
            padding: unset;
            color: rgb(182, 181, 181);
            .categoriesIcon {
                color: rgb(187, 186, 185);
            }
            .addIconButton {
                color: rgb(187, 186, 185);
            }
        }
    }
    footer {
        display: flex;
        justify-content: center;
        padding: 20px;
        .settingsButton {
            width: 100%;
            color: rgb(187, 186, 185);
            border-color: rgb(187, 186, 185);
            &:hover {
                background-color: rgba(108, 108, 108, 0.29);
            }
        }
    }
}
