@use "../../styles/colors" as colors;

.root {
    .cardContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: #061d20;
        width: 400px;
        padding: 20px;
        border: solid 2px colors.$mediumGreen;
        border-radius: 10px;
        margin-top: 78px;
        background: linear-gradient(145deg, rgba(6, 29, 32, 0.7), rgba(6, 29, 32, 0.9));

        .header {
            h1 {
                color: white;
                margin: unset;
            }
        }
        .body {
            .formLabel {
                color: white;
                margin-bottom: 5px;
            }
            .textField {
                input {
                    color: #abbebc;
                    border-radius: 5px;
                    border: 1px solid rgb(11, 114, 84);
                }
                input::placeholder {
                    color: rgba(255, 255, 255, 0.6);
                }
            }

            //autofill styling
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                appearance: none;
                -webkit-text-fill-color: #abbebc;
                background-color: transparent;
                transition: background-color 5000s ease-in-out 0s;
            }
            input:-webkit-autofill::first-line {
                color: #abbebc;
            }

            .signUpButton {
                background-color: rgb(11, 114, 84);
                color: white;
                &:hover {
                    background-color: rgb(14, 124, 93);
                }
            }
            .googleButton {
                margin: 10px 0 10px 0;
                border: 1px solid rgb(11, 114, 84);
                color: white;
            }
        }
        .footer {
            display: flex;
            justify-content: center;
            .footerText {
                font-size: 0.875rem;
                color: white;
                .signUpLink {
                    color: colors.$lightGreen;
                    text-decoration-color: colors.$lightGreen;
                }
            }
        }
    }
}
